@use './assets/scss/modules/common';

#modal-root {
	position: relative;
	z-index: 40;
}
.wrapper {
	overflow: hidden;
}
.header_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;
	width: 100%;
	border-bottom: 0.1rem solid #ddd;
	background-color: rgba(var(--mainBg), 0.3);
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100rem;
	height: 5.4rem;
	margin: 0 auto;
	padding: 0 1rem;
	h1 {
		height: 100%;
		a {
			display: flex;
			align-items: center;
			width: 10rem;
			height: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.gnb_wrap {
		height: 100%;
		ul {
			display: flex;
			align-items: center;
			height: 100%;
			li {
				height: 100%;
				a {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 0 1.5rem;
					border-bottom: 0.2rem solid transparent;
					font-size: common.$fs-l;
					color: var(--mainTxt);
					&.active {
						border-color: var(--primary);
					}
				}
			}
		}
	}
}
main {
	overflow-y: auto;
	height: 100%;
	color: var(--mainTxt);
	.page_body {
		width: 100rem;
		margin: 0 auto;
		padding: 10.5rem 0 5rem;
		.title_area {
			padding-bottom: 5rem;
			.main_title {
				font-size: common.$fs-xl;
				text-align: center;
			}
		}
		.content_area {
			.form_area {
				.form_row {
					+ .form_row {
						margin-top: 2rem;
					}
					h4 {
						display: inline-flex;
						padding-bottom: 1.5rem;
						font-weight: bold;
						font-size: common.$fs-m;
						color: common.$gray6;
					}
					&.flex {
						display: flex;
						.input_wrap {
							flex: 1;
							+ .input_wrap {
								margin-left: 1rem;
							}
						}
						.select_wrap {
							+ .input_wrap {
								margin-left: 1rem;
							}
						}
					}
					.select_wrap {
						width: 30%;
						+ .input-wrap {
							margin-left: 1rem;
						}
					}
					.date_wrap {
						margin-left: 1rem;
					}
					.editor_wrap {
						flex: 1;
						.ql_snow {
							border-color: common.$gray8;
						}
						.ql_toolbar {
							&:focus {
								outline: 0.1rem solid red;
							}
						}
						.ql_container {
							height: auto;
							.ql_editor {
								&.ql-blank::before {
									// placeholder
									font-style: inherit;
									color: common.$gray8;
								}
								&:focus {
									outline: 0.1rem solid rgba(#4337ca, 0.5);
								}
							}
						}
					}
					.check_list {
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(20%, auto));
						row-gap: 1rem;
						padding: 2rem;
						background-color: rgba(#4337ca, 0.05);
					}
				}
			}
			.data_table_area {
				.table {
					td {
						height: 7rem;
						padding: 0 2rem;
						.board_title {
							display: inline-block;
							padding: 1rem;
						}
						.btn_icon {
							display: block;
							width: 2.4rem;
							height: 2.4rem;
							font-size: common.$fs-m;
						}
					}
				}
				.edit_btns_wrap {
					display: flex;
					align-items: center;
					.editable_area {
						.before_edit {
							display: flex;
							align-items: center;
							.category_title {
								display: block;
								margin-right: 1rem;
							}
						}
						.editable {
							display: flex;
							align-items: center;
							margin-right: 1rem;
						}
					}
				}
				.list_btns_wrap {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.footer_area {
			display: flex;
			padding-top: 3rem;
			justify-content: center;
			a,
			button {
				+ a,
				+ button {
					margin-left: 2rem;
				}
			}
			&.left {
				justify-content: flex-start;
			}
			&.right {
				justify-content: flex-end;
			}
			&.side {
				justify-content: space-between;
			}
		}
	}
	.guide_body {
		display: flex;
		align-items: flex-start;
		height: 100%;
		margin: 0 auto;
		.guide_nav_wrap {
			overflow-y: auto;
			width: 25rem;
			height: 100%;
			padding-top: 5.5rem;
			border-right: 0.1rem solid common.$main-border;
			.guide_nav {
				overflow-y: auto;
				a {
					display: block;
					padding: 1.3rem;
					cursor: pointer;
				}
				> ul {
					padding: 2rem;
					> li {
						padding-bottom: 5rem;
						> a {
							font-weight: bold;
							font-size: common.$fs-m;
							color: var(--mainTxt);
						}
					}
					ul {
						li {
							a {
								padding-left: 5rem;
								border-radius: 0.5rem;
								font-size: common.$fs-m;
								color: var(--mainTxt);
								&::first-letter {
									text-transform: uppercase;
								}
								&.active {
									background-color: common.$primary-light;
									color: var(--subTxt);
								}
								&:focus,
								.focus {
									outline: 0.1rem solid common.$primary-dark;
								}
							}
						}
					}
				}
			}
		}
		.guide_container {
			overflow-y: auto;
			width: calc(100% - 25rem);
			height: 100%;
			flex: 1;
			padding: 8.5rem 5rem 3rem;
			margin-left: -0.1rem;
			border-left: 0.1rem solid common.$main-border;
			.guide_title {
				display: flex;
				align-items: center;
				padding-bottom: 5rem;
				font-weight: bold;
				font-size: 2rem;
				text-transform: capitalize;
				&::before {
					content: '';
					box-sizing: border-box;
					display: block;
					width: 1rem;
					height: 1rem;
					margin-right: 0.5rem;
					border-radius: 50%;
					border: 0.3rem solid var(--primary);
				}
			}
			.guide_content {
				overflow-y: auto;
				.box {
					margin-bottom: 3rem;
					padding-bottom: 3rem;
					border-bottom: 0.1rem solid #ddd;
					&:last-of-type {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: 0 none;
					}
				}
				.api_box {
					h3 {
						display: flex;
						align-items: center;
						padding-bottom: 2rem;
						font-weight: bold;
						font-size: common.$fs-m;
						&::before {
							content: '';
							box-sizing: border-box;
							display: block;
							width: 1rem;
							height: 1rem;
							margin-right: 0.5rem;
							border-radius: 50%;
							border: 0.3rem solid var(--primary);
						}
					}
					h4 {
						display: flex;
						align-items: center;
						padding-top: 2rem;
						padding-bottom: 2rem;
						font-weight: bold;
						font-size: common.$fs-s;
						text-indent: 1rem;
					}
					.api_table {
						width: 100%;
						margin-bottom: 1rem;
						.width10 {
							width: 10%;
						}
						.width15 {
							width: 15%;
						}
						.width20 {
							width: 20%;
						}
						.width15 {
							width: 15%;
						}
						.width25 {
							width: 25%;
						}
						.width35 {
							width: 30%;
						}
						.width30 {
							width: 35%;
						}
						.widthAll {
							width: auto;
						}
						thead {
							th {
								padding: 2rem;
								border-bottom: 0.1rem solid common.$primary-light;
								background-color: var(--primaryLight);
							}
						}
						tbody {
							th {
								padding: 2rem;
								border-bottom: 0.1rem solid common.$primary-light;
								color: var(--mainTxt);
							}
							td {
								padding: 2rem;
								border-bottom: 0.1rem solid common.$primary-light;
								color: var(--mainTxt);
							}
							.params-start {
								&::before {
									content: '{';
									display: block;
									text-align: left;
								}
								&::after {
									content: '}';
									display: block;
									text-align: right;
								}
							}
						}
					}
					.api-list {
						padding-bottom: 1rem;
						li {
							display: flex;
							align-items: center;
							padding-bottom: 1rem;
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					.icon_required {
						display: block;
						width: 3rem;
						margin: 0 auto;
						padding: 0.3rem 0;
						border-radius: 0.2rem;
						background-color: common.$primary-light;
						text-align: center;
						font-size: common.$fs-xs;
						color: common.$primary-dark;
						&.required {
							background-color: common.$primary;
							color: common.$white;
						}
					}
					.type {
						display: flex;
					}
					.type_boolean {
						display: block;
						line-height: 2.4rem;
						font-weight: bold;
						color: #53ab95;
					}
					.type_string {
						display: block;
						line-height: 2.4rem;
						font-weight: bold;
						color: var(--primary);
					}
					.type_number {
						display: block;
						line-height: 2.4rem;
						font-weight: bold;
						color: #c11d1d;
					}
					.type_object {
						display: block;
						line-height: 2.4rem;
						font-weight: bold;
						color: #c1611d;
					}
					.type_class {
						display: block;
						line-height: 2.4rem;
						font-weight: bold;
						color: #91bae6;
					}
					.td_center {
						text-align: center;
					}
					.refer_wrap {
						span {
							display: block;
						}
						+ .refer_wrap {
							padding-top: 0.7rem;
						}
						.refer_title {
							font-weight: bold;
						}
						.refer_content {
							text-indent: 2rem;
							+ .refer_content {
								padding-top: 0.3rem;
							}
						}
					}
				}
				.lib_box {
					padding-top: 7rem;
					~ .api_box {
						padding-top: 20rem;
					}
					h3 {
						display: flex;
						align-items: center;
						padding-bottom: 2rem;
						font-weight: bold;
						font-size: common.$fs-m;
						span {
							display: block;
							padding: 0.5rem 1rem;
							margin-left: 2rem;
							background-color: common.$grayD;
						}
						em {
							display: flex;
							align-items: center;
							padding: 0 0.5rem;
						}
					}
					.example {
						margin-bottom: 1rem;
						&:last-of-type {
							margin-bottom: 0;
						}
						> ul {
							> li {
								+ li {
									padding-top: 1rem;
								}
							}
						}
						> ul.flex_box {
							display: flex;
							justify-content: space-between;
							align-items: flex-start;
							> li {
								+ li {
									padding-top: 0;
									padding-left: 1rem;
								}
								em {
									display: block;
									padding-bottom: 1rem;
								}
							}
						}
					}
					.code {
						margin-top: 3rem;
					}
				}
				.sub_title {
					display: flex;
					align-items: center;
					padding-bottom: 2rem;
					font-weight: bold;
					font-size: common.$fs-m;
					&::before {
						content: '';
						box-sizing: border-box;
						display: block;
						width: 1rem;
						height: 1rem;
						margin-right: 0.5rem;
						border-radius: 50%;
						border: 0.3rem solid common.$primary;
					}
					+ span {
						font-size: common.$fs-s;
					}
				}
				.static_list {
					li {
						padding-bottom: 5rem;
						&:last-child {
							padding-bottom: 0;
						}
						.dot_list {
							li {
								display: flex;
								padding-bottom: 0.5rem;
								line-height: 2rem;
								em {
									padding-right: 1rem;
								}
								&:last-child {
									padding-bottom: 0;
								}
								&::before {
									margin-top: 0.6rem;
								}
							}
						}
						a {
							color: common.$primary-dark;
						}
					}
				}
				.table_box {
				}
				&.accessibility {
					.link {
						position: relative;
						display: flex;
						justify-content: center;
						margin-left: 1rem;
						padding: 0.5rem;
						font-weight: normal;
						font-size: common.$fs-s;
						color: var(--primary);
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							display: block;
							width: 100%;
							height: 0.1rem;
							background-color: var(--primary);
						}
					}
					.img_wrap {
						overflow: hidden;
						display: block;
						width: 30rem;
						border: 0.1rem solid common.$gray8;
						border-radius: 1rem;
						background-color: common.$white;
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
}
