@use './assets/scss/modules/common';

#modal-root {
	position: relative;
	z-index: 40;
}
.wrapper {
	overflow: hidden;
}
.header_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;
	width: 100%;
	border-bottom: 0.1rem solid #ddd;
	background-color: rgba(var(--mainBg), 0.3);
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100rem;
	height: 5.4rem;
	margin: 0 auto;
	padding: 0 1rem;
	h1 {
		height: 100%;
		a {
			display: flex;
			align-items: center;
			width: 10rem;
			height: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.gnb_wrap {
		height: 100%;
		> ul {
			display: flex;
			align-items: center;
			height: 100%;
			> li {
				position: relative;
				height: 100%;
				> a {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 0 1.5rem;
					border-bottom: 0.2rem solid transparent;
					font-size: common.$fs-l;
					color: var(--mainTxt);
					&.active {
						border-color: var(--primary);
					}
				}
			}
		}
		.sub_gnb_wrap {
			position: absolute;
			top: 5.4rem;
			display: flex;
			flex-direction: column;
			width: 15rem;
			text-align: left;
			li {
				width: 100%;
				a {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 1rem 1.5rem;
					background-color: var(--mainBg);
					font-size: common.$fs-s;
					color: var(--mainTxt);
					&:hover {
						background-color: var(--subBg);
					}
				}
			}
		}
	}
}
main {
	overflow-y: auto;
	height: 100%;
	color: var(--mainTxt);
}
