@use './assets/scss/modules/common';

// mobile
@media screen and (max-width: 768px) {
	html {
		height: auto;
	}
	.header_wrap {
		&.active {
			height: 100%;
		}
	}
	header.mobile {
		width: 100%;
		.double_tootle_wrap {
			position: relative;
			z-index: 20;
			margin-left: auto;
			margin-right: 1rem;
		}
		.btn_more_area {
			.btn_more_open {
				display: block;
				padding: 0.3rem 0.7rem;
				border: 0.1rem solid var(--mainTxt);
				border-radius: 0.3rem;
				font-size: 2rem;
				color: var(--mainTxt);
			}
		}
		.modal_area {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 20;
			display: block;
			width: 100%;
			height: 100%;
			.gnb_wrap {
				position: relative;
				z-index: 10;
				height: auto;
				> ul {
					flex-direction: column;
					padding: 5rem 3rem;
					li {
						width: 100%;
						height: auto;
						text-align: left;
						+ li {
							margin-left: 0;
						}
						a {
							border-bottom: 0 none;
							padding: 2rem;
							&.active {
								background-color: var(--primaryReverse2);
							}
						}
					}
				}
				.sub_gnb_wrap {
					position: relative;
					top: 0;
					li {
						a {
							padding: 1.5rem;
							text-indent: 3rem;
						}
					}
				}
			}
			.btn_mo_close {
				position: absolute;
				top: 2rem;
				right: 2rem;
				z-index: 10;
				display: block;
				font-size: 2rem;
				color: var(--mainTxt);
			}
			.dim {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: var(--mainBg);
				opacity: 0.9;
			}
		}
		.login_btn_wrap {
			margin-right: 1rem;
			.btn_login {
				padding: 1.5rem 0;
				font-size: 1.5rem;
			}
			.tooltip_wrap {
				.tooltip {
					width: 23rem;
				}
			}
		}
		.coach_guide {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			.coach_text {
				position: absolute;
				top: 5.5rem;
				right: 1rem;
				z-index: 10;
				width: 18rem;
				padding: 0.5rem;
				border: 0.1rem solid common.$primary-dark;
				background-color: common.$white;
				font-size: common.$fs-m;
				&::before {
					content: '';
					position: absolute;
					bottom: 100%;
					left: 50%;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0.8rem 1.2rem 0.8rem;
					border-color: transparent transparent rgba(0, 31, 93, 0.7) transparent;
					transform: translate3d(-50%, 0, 0);
				}
				&::after {
					content: '';
					position: absolute;
					bottom: 100%;
					left: 50%;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0.6rem 1rem 0.6rem;
					border-color: transparent transparent common.$white;
					transform: translate3d(-50%, 0, 0);
				}
			}
			.dim {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(common.$white, 0.9);
			}
		}
	}
	.mypage {
		.content_area {
			width: 100%;
			padding: 7rem 0 5rem;
			.top_area {
				flex-direction: column;
			}
			.intro {
				.title {
					strong {
						width: 15rem;
						line-height: 4rem;
						font-size: 3rem;
					}
					.title2 {
						padding-top: 0;
					}
					.title3 {
						padding-top: 1rem;
						line-height: 3rem;
					}
				}
				.career {
					padding-top: 3rem;
					p {
						display: flex;
						justify-content: space-between;
					}
				}
			}
			.photo {
				margin-left: revert;
				.photo_wrap {
					padding-top: 3rem;
					width: 100%;
				}
			}
			hr {
				width: 100%;
				margin: 3rem 0;
			}
			.bottom_area {
				width: 100%;
				.banner {
					position: relative;
					top: 6rem;
					right: 0;
					padding-bottom: 6rem;
					strong {
						top: 2rem;
						left: 7rem;
						font-size: 2.2rem;
					}
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	#mainArea {
		h2 {
			font-size: 5rem;
		}
		.sticky_element {
			line-height: 5rem;
			font-size: 3rem;
			&.b {
				line-height: 3.6rem;
				font-size: 1.8rem;
			}
			&.c {
				line-height: 4rem;
				font-size: 2rem;
			}
		}
		.img_area {
			width: 30rem;
		}
	}
	main {
		.page_container {
			overflow: hidden;
			padding: 0 2rem;
		}
		.page_body {
			overflow-y: auto;
			width: 100%;
			padding: 8.5rem 0 5rem;
			.title-area {
				padding-bottom: 2rem;
			}
			.content_area {
				.form_area {
					.form_row {
						.date_wrap {
							width: 50%;
							margin-left: 0;
							+ .date_wrap {
								margin-left: 1rem;
							}
						}
						.check_list {
							display: grid;
							grid-template-columns: repeat(auto-fill, minmax(30%, auto));
							row-gap: 1rem;
						}
						.select_wrap {
							width: auto;
						}
					}
				}
				.preview_wrap {
					overflow-x: auto;
					display: flex;
					width: 100%;
				}
				.project_area {
					.project_list {
						grid-template-columns: 1fr;
						gap: 0;
						min-height: 5rem;
						.project_wrap {
							height: 25rem;
							+ .project_wrap {
								margin-top: 2rem;
							}
						}
					}
					.tab_wrap {
						.tabs {
							.tab {
								button {
									font-size: 1.5rem;
								}
							}
						}
					}
					.swiper_wrap {
						.slide {
							padding: 3rem 4rem;
						}
						.img_area {
							&.pc {
								width: 100%;
							}
							&.mobile {
								width: 100%;
								height: 30rem;
							}
						}
					}
				}
			}
		}
		.guide_body {
			position: relative;
			flex-direction: column;
			.guide_nav_wrap {
				overflow-y: initial;
				position: relative;
				width: 100%;
				border-right: 0 none;
				.btn_mo_guide_open {
					position: absolute;
					top: 7rem;
					right: 1rem;
					z-index: 10;
					display: block;
					margin-left: auto;
					padding: 1rem 0.7rem;
					border: 0.1rem solid #000;
					border-radius: 0.3rem;
					background-color: var(--mainBg);
					font-size: common.$fs-s;
					color: var(--subTxt);
				}
				.guide_nav {
					position: fixed;
					top: 5.4rem;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10;
					display: block;
					width: 100%;
					height: calc(100% - 5.4rem);
					padding: 4rem 2rem;
					background-color: var(--mainBg);
					opacity: 0.9;
					> ul {
						> li {
							> a {
								display: block;
								font-size: common.$fs-m;
							}
							> ul {
								> li {
									> a {
										display: block;
										padding-left: 3rem;
										font-size: common.$fs-s;
										&.active {
											background-color: var(--primaryReverse2);
										}
									}
								}
							}
						}
					}
				}
				.btn_mo_guide_close {
					position: fixed;
					top: 7rem;
					right: 2rem;
					z-index: 10;
					display: block;
					font-size: 2rem;
				}
			}
			.guide_container {
				width: 100%;
				padding: 5.5rem 2rem 3rem;
				.guide_content {
					padding: 2rem 1.5rem;
					.api-box {
						overflow-x: auto;
						.api_table {
							thead {
								th {
									padding: 0.7rem 0.3rem;
								}
							}
							tbody {
								td {
									padding: 0.3rem;
								}
							}
						}
					}
					.lib_box {
						.example {
							> ul.flex_box {
								> li {
									+ li {
										padding-left: 0.5rem;
									}
								}
							}
						}
					}
					.scroll_wrap {
						overflow-x: auto;
					}
					&.accessibility {
						.img_wrap {
							width: 100%;
						}
					}
				}
			}
		}
		// 컴포넌트
		.btn {
			&.xs {
				padding: 0.2rem 0.2rem;
			}
			&.sm {
				padding: 0.2rem 0.3rem;
			}
			&.md {
				padding: 0.3rem 0.4rem;
			}
			&.lg {
				padding: 0.4rem 0.5rem;
			}
			&.xl {
				padding: 0.5rem 0.6rem;
			}
		}
		.swiper_wrap {
			.swiper {
				cursor: grab;
			}
		}
		.input_wrap {
			.btn_input {
				padding: 1rem 0;
			}
			&.files {
				.input_area {
					label {
						padding: 0 1rem;
					}
				}
			}
		}
		.alert_wrap {
			.alert {
				width: 90%;
			}
		}
	}
}
